DemoClient/Service References/Service/DemoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="number" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="field1" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="field2" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="field3" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="field4" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="field5" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="field6" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="result1" nillable="true" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="result2" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="errorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>